#menu{
    margin-top:3% ;
    margin-bottom:3% ;
    margin-left:29% ;
}
button{
    margin-left:1%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #3289a8;
    color: white;
    border: none;
}

select{
    margin-left:45% ;
    padding: 1em;
    background-color: #f2f2f2;
}
table, th, td {
    font:15px 'Segoe UI';
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
table{
    width: 80%;
    margin-top: 5%;
    margin-left:10% ;
}
img{
    padding-top: 5px;
    padding-right: 5px;
}
.warning{
    color: red;
    font-weight: bold;
}
